@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body 
{
    overflow: hidden;
}

section 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252A34;
    min-height: 100vh;
}

section .color 
{
    position: absolute;
    width: 600px;
    height: 600px;
}

section .color:nth-child(1)
{
    position: absolute;
    background: #08D9D6;
    top: -50px;
    left: 50px;
    border-radius: 50%;
}

section .color:nth-child(2)
{
    position: absolute;
    background: #FF2E63;
    bottom: -50px;
    right: 60px;
    border-radius: 50%;
}

.box 
{
    position: relative;
}

.container 
{
    position: relative;
    width: 500px;
    height: 500px;
    min-height: 500px;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    padding: 40px;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form 
{
    position: relative;
}

.form h2 
{
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 32px;
}

.form .inputBox 
{
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .inputBox input 
{
    background: rgba(255,255,255,0.05);
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
}

.form .inputBox input::placeholder 
{
    color: #fff;
}

.form .inputBox input[type="submit"]
{
    background: #FF2E63;
    font-weight: 600;
    max-width: 150px;
    border: 1px solid rgba(255,255,255,0.05);
    cursor: pointer;
    letter-spacing: 1px;
}